<div class="create-new-list">
	<form name="form">
		<div class="input-group">
	  		<input type="text" 
	  					name="createNewList"
	  					class="form-control" 
	  					placeholder="New list - press enter to save" 
	  					ng-model="newListName" 
	  					required 
	  					ng-keyup="$event.keyCode == 13 && saveList(newListName)" 
	  					ng-maxlength="50" 
	  					maxlength="50" />
	  		<span class="input-group-btn">
	  			<button ng-disabled="form.$invalid" class="btn btn-default" type="button" data-ng-click="saveList(newListName)">Create</button>
	  		</span>
	  </div>
  </form>
</div>

<ul class="list-group" ng-cloak>
	<!-- TBD: Show how many list items there is within a list. -->
  <li class="list-group-item clearfix" ng-repeat="list in lists">
    <a ng-href="#/list/{{list.$id}}">{{list.name}}</a>
  	<span class="pull-right glyphicon glyphicon-remove" ng-click="removeList(list.$id)"></span>
  </li>
  <li class="list-group-item disabled" ng-show="!lists.length">Nothing here yet.</li>
</ul>